.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'SourceSansPro';
  src: local('SourceSansPro'), url(./fonts/SourceSansPro-Regular.ttf) format('truetype');
}

#menu-outer {
	height: 84px;
	
}

.table10 {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
  }

ul#horizontal-list li {
  display: inline;
  width: 40px;;
}

.container {
  padding: 2px 16px;
}

.cardList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding-top: 10px;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  font-family: SourceSansPro;

}

.createbutton {
  width: 10rem;
  color: #FFF;
  background: #4BA7FE;
  border-radius: 8px;
  font-size: 15px;
  line-height: 24px;
  height: 2.5rem;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  border: none;
  font-family: SourceSansPro;


}

.body {

}

#events {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#events td, #events th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 40px;
}

#events tr:nth-child(even){background-color: #c4f2f8;}

#events tr:hover {background-color: #8AFFDD;}

#events th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

